body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    background-color: black;}
body #commands #commandTable tr td a{
    text-decoration: none;}
body #commands #commandTable tr #spacing{
    padding-left: 20px;}
#header {
    width: 100%;
    height: 150px;
    background-color: white;
    text-align: center;}

#menu {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;}

#slide {
    width: 100%;
    height: 260px;
    background-color: green;
    text-align: center;}
#slide #divButtonSlide{
    width: 100%;
    height: 260px;}

#slide img {
    width: 100%;
    height: 260px;}

#slide #divButtonSlide #buttonBack{
    background-color: transparent;
    color: #202020;
    border: none;
    font-size: 195px;}
#slide #divButtonSlide #buttonForward{
    background-color: transparent;
    color:#202020;
    border: none;
    font-size: 195px;}
#slide #divButtonSlide #buttonBack:hover{
    background-color: red;
    opacity: 0.5;}
#slide #divButtonSlide #buttonForward:hover{
    background-color: red;
    opacity: 0.5;}
   
#menu ul li {
    list-style-type: none;
    display: inline;
    background: black;
    font-size: 30px;
    font-weight: bold;}

#menu ul li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 18px 10px 0px 8px;}

#menu ul li a:hover {
    background-color: white;
    color: black;}

#container {
    width: 90%;
    height: auto;
    background-color: black;
    text-align: center;}
#container #characterSelection{
    width: 100%;
    text-align: center;}
#container #characterSelection ul li {
    list-style-type: none;
    display: inline;
    padding-top: 20px;}
#container #characterSelection ul li a {
    text-decoration: none;
    padding: 18px 10px 0px 8px;}
#container #characterSelection ul li:hover {
    background-color: red;
    border-radius: 50%;}

#container #characterSelection ul #BugsBunny:hover {
    background-color: red;
    border-radius: 50%;}
#container #characterSelection ul #Goku:hover {
    background-color: gold;
    border-radius: 50%;}
#container #characterSelection ul #VacaYPollo:hover {
    background-color: green;
    border-radius: 50%;}
#container #characterSelection ul #Homero:hover {
    background-color: blue;
    border-radius: 50%;}
#container #characterSelection ul #Patricio:hover {
    background-color: white;
    border-radius: 50%;}
#container #characterSelection ul #Pegaso:hover {
    background-color: orange;
    border-radius: 50%;}
#container #characterSelection ul #Serena:hover {
    background-color: lightseagreen;
    border-radius: 50%;}
#container #characterSelection ul #Ash:hover {
    background-color: purple;
    border-radius: 50%;}
#container #characterSelection ul #Pedro:hover {
    background-color: silver;
    border-radius: 50%;}
#container #characterSelection ul #Cerebro:hover {
    background-color: saddlebrown;
    border-radius: 50%;}
#container #characterSelection ul #Oliver:hover {
    background-color: lime;
    border-radius: 50%;}
#container #Bienvenida{
    width: 100%;
    color: white;
    text-align: center;}
#container #Bienvenida ul li {
    list-style-type: none;}
#container #Bienvenida ul #Canal:hover {
    background-color: white
    }
#container #Bienvenida #p1, #p2{
    margin-left:230px;
    font-size: 20px;
    font-family: fantasy;
    color: white;
    padding: 50px;
    width: 40%;
    display: inline-block;
    background-color: #1E90FF;
    border: 5px solid grey; 
    border-radius: 5%;}
#footer {
    background: black;
    height: 150px;
    color: white;
    font-size: 14px;
    text-align: center;}

#footer table {
    border-top: 2px solid #1E90FF;
    width: 25%;
    height: 100px;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;}

#footer table tr td a{
    text-decoration: none;}
/*Estilo de Dragon ball *****************************************************************************************************/
#DragonDesc{
    width: 800px;
    height: 500px;
    table-layout: fixed;
    text-align:center;}
#DragonDesc td{
    text-align: left;
    background: #D8D8D8;
    color: black;
    font-size: 14px;
    padding: 25px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    box-shadow:0px 0px 200px #000;
    -moz-box-shadow:0px 0px 200px #000;
    -webkit-box-shadow:0px 0px 200px #000;}
@font-face {
    font-family: 'saiyan_sansregular';
    src: url('../resources/Fuentes/saiyan-sans-webfont.woff2') format('woff2'),
         url('../resources/Fuentes/saiyan-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
#container #Bienvenida ul #BallTitle, #VideoTitle{
    font-size: 40px;
    font-weight: bold;
    color: orange;
    font-family: 'saiyan_sansregular';
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-weight: bold;}
#container #Bienvenida ul #Ball:hover {
    /*background-color: white*/}
#footerDragon {
    background:#3d6a99;
    margin-top: 110%;
    height: 150px;
    color: white;
    font-size: 14px;
    text-align: center;}
#footerDragon table {
    border-top: 2px solid black;
    width: 25%;
    height: 100px;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;}
#footerDragon table tr td a{
    text-decoration: none;}
#container #characterSelection ul #Goku1:hover {
    background-color: goldenrod;
    border-radius: 50%;}    
#container #characterSelection ul #Goku2:hover {
    background-color:green;
    border-radius: 50%;}
#container #characterSelection ul #Goku3:hover {
    background-color: blue;
    border-radius: 50%;}
#container #characterSelection ul #Goku4:hover {
    background-color: red;
    border-radius: 50%;}
#container #characterSelection ul #Goku5:hover {
    background-color: yellowgreen;
    border-radius: 50%;}    
#container #characterSelection ul #Goku6:hover {
    background-color: darkmagenta;
    border-radius: 50%;}
#container #characterSelection ul #Goku7:hover {
    background-color: forestgreen;
    border-radius: 50%;}
#container #characterSelection ul #Goku8:hover {
    background-color: blue;
    border-radius: 50%;}
#container #characterSelection ul #Goku9:hover {
    background-color: red;
    border-radius: 50%;}
#container #characterSelection ul #Goku10:hover {
    background-color: yellowgreen;
    border-radius: 50%;}

#Ball{
    margin-top:50px;
}

/*Sailor Moon*****************************************************************************************************************/
#container #sailorMoonChars{
    width: 100%;
    background-color: sailorMoonChars;
    text-align: center;}
#container #sailorMoonChars ul li {
    list-style-type: none;
    display: inline;
    background: sailorMoonChars;
    font-weight: bold;
    padding-top: 20px;}
#container #sailorMoonChars ul li a {
    text-decoration: none;
    padding: 18px 10px 0px 8px;}
#container #sailorMoonChars ul li:hover {
    background-color: red;
    border-radius: 50%;}

#container #sailorMoonChars ul #SailorJupiter:hover {
    background-color: green;
    border-radius: 50%;}
#container #sailorMoonChars ul #SailorVenus:hover {
    background-color: gold;
    border-radius: 50%;}
#container #sailorMoonChars ul #SailorMoon:hover {
    background-color: blue;
    border-radius: 50%;}
#container #sailorMoonChars ul #SailorMars:hover {
    background-color: red;
    border-radius: 50%;}
#container #sailorMoonChars ul #SailorMercury:hover {
    background-color: darkcyan;
    border-radius: 50%;}
#container #Bienvenida #p1smoon, #p2smoon, #p3smoon,#p4smoon, #p5smoon{
    margin-left:230px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 50px;
    width: 40%;
    display: inline-block;
    background-color: darkblue;
    border: 3px solid white;
    border-radius: 4%;}
